<div class="resources-block">
 <div class="row">
   <div class="resource_image {{ resource_id }}"></div>
   <div class="resource_title">{{ title }}</div>
 </div>
 <a href="{{ resource_link }}"></a>
</div>