<div id="block-userlanguageblock">
<div class="user-lang-wrapper">
  <span class="user-dropdown">
    <img alt="user-icon" class="user-icon-img" data-entity-type="file" data-entity-uuid="932a15c1-a46c-41c8-9d8f-a0911ec5033e" src="/sites/default/files/inline-images/user-ico%402x.png" />
    <img alt="small-dropdown" data-entity-type="file" data-entity-uuid="3d36f799-7b7e-48bc-9a0a-1b9c1a6ee731" src="/sites/default/files/inline-images/sml-arrowdown-copy%402x_0.png" />
  </span>
</div>
<div class='login_link'>{{ login_link }} {{ user_name }}</div>
</div>