/* 
 * THIS FILE CONTAINS ALL THE MIXINS USED FOR THIS THEME
 * @author Shruti 
 */

/* MIXIN FOR BOX SHADOW */

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  }

  @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

/* MIXIN FOR BOX SHADOW */

/* BORDER RADIUS MIXIN */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/* BORDER RADIUS MIXIN */

/* MIXIN FOR MULTILINE ELLIPSIS */

@mixin ellipsis ($max-height, $lines: 2) {
  // Fallback for non-webkit browsers.
  // Fallback does not render ellipsis.
  overflow: hidden;
  max-height: $max-height;

  // Webkit solution for multiline ellipsis
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;

  // Solution for Opera
  text-overflow: -o-ellipsis-lastline;
}

/* MIXIN FOR MULTILINE ELLIPSIS */

/* MIXIN FOR PLACEHOLDER */

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

/* MIXIN FOR PLACEHOLDER */

/* MIXIN FOR SEARCH BLOCK */

@mixin search-block {
  label {
    display: none;
  }
  
  input {
    @include border-radius(4px);
    padding: 0 20px;
    border: 1px solid color(grey-light);
    line-height: 40px;
    float: left;

    &.form-text {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      @include placeholder {
        color: color('red');
      }
    }
  }

  input[type='submit'] {
    color: color(blue);
    background: color(white);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-item {
    float: left;
    max-width: 250px;
    margin: 0;
  }
}

/* MIXIN SEARCH BLOCK */
