/* 
 * THIS FILE CONTAINS ALL STYLE FOR CATEGORY LISTING PAGES
 * @author Shruti 
 */

.is-path-list {
  h1 {
    font-size: font-size(xl);      
  }

  .new-custom-search-form {
    @include search-block;

    .form-item {
      max-width: 100%;
    }
  }

  .item-list {
    clear: both;
    padding: 30px 0 0;

    li {
      list-style: none;
      padding: 16px 0;
      margin: 0;

      &:last-child {
        border-bottom: 0;
      }
    }

    .row {
      div {
        font-size: font-size(m) + 2;
        font-weight: weight(light);
        margin: 0;
      }

      .title a {
        font-weight: weight(bold);
      }
    }
  }
}

#block-resourcetypelistingblock {
  .item-list {
    padding: 0;

    li {
      border: 0;
      padding: 0;
      margin: 0;

      a {
        @include border-radius(8px);
        border: 1px solid color(grey-light);
        display: block;
        padding: 25px;
        margin: 10px 0;
      }
    }
  }

  .resource-image {
    background: url("../../../images/iconsprite.png") no-repeat;
  }  
}
