/* 
 * THIS FILE CONTAINS ALL THE STYLES FOR HEADER
 * @author Shruti 
 */

header {
  background: color(white);
  border-bottom: 1px solid color(grey-light);
  float: left;
  width: 100%;

  &.sticky-header {
    @include box-shadow(0, 5px, 5px, rgba(0, 0, 0, .28));
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    visibility: visible;
  }
}

div#block-nvli-branding {
  float: left;
  padding: 14px 24px;

  &.sticky-branding {
    width: 50%;
    max-width: 460px;
  }
}

.site-logo {
  img {
    float: left;
    margin: 0 20px 0 0;
  }
}

.site-name {
  float: left;
  margin: 12px 0 0;

  a {
    color: color('grey');
    font-size: font-size(xl);
    font-weight: weight(light);
  }
}

div#block-userlanguageblock {
  float: right;
  margin: 23px 10px;

  p {
    margin: 0 5px;
  }

  span {
    margin: 0 5px;
    color: color(grey-dark);

    img {
      width: 1vw;
      margin: 0 3px;
    }

    &.user-dropdown img:first-child {
      width: 2vw;
    }
  }
}
