/* 
 * THIS FILE CONTAINS ALL THE STYLES FOR HOMEPAGE
 * @author Shruti 
 */

.is-path-frontpage {
  .layout-3col__full {
    padding: 0 18px;    
  }

  .layout-3col__full .block {
    .field--name-field-block-image {
      img {
        width: 4.3vw;
      }
    }   
  }
}

div#block-homepagebanner-2 {
  position: relative;

  .field--type-text-with-summary {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: color(white);
    width: 100%;
    text-align: center;
    font-size: font-size(xl);
    margin: 20px 0 0;

    p {
      margin: 15px 0;

      &:nth-child(2) {
        font-size: font-size(xxl) + 8;
      }
    }
  }
}

