/* 
 * THIS FILE CONTAINS ALL THE LAYOUT RELATED STYLE CHANGES
 * @author Shruti 
 */


.layout-center {
  @media (min-width: 777px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.layout-3col {
  margin: 0 0 330px;
  z-index: 1;
  background: color(white);
  @media (max-width: 767px) {
    padding: 0;
  }
}

